{% extends '_template/_template.html.twig' %}

{% block content %}
    <div class="row row-cols-6">
        {% if posts|length > 0 %}

            {% for post in posts %}
                <div class="p-2 col transition overflow-hidden">

                {% if post.Url %}
                    <a class="grid-item d-block w-100 h-100 rounded" href="{{ post.Url }}">
                {% else %}
                    <a class="grid-item d-block w-100 h-100 rounded" href="{{ path('app_content_single', { 'slug': post.Category.slug, 'id': post.id }) }}">
                {% endif %}
                        <div class="post-content position-relative w-100 h-100">
                            <div class="overlay p-2 position-absolute w-100 rounded text-wrap bottom-0">{{ post.Title }}</div>
                            {% if post.Thumbnail %}
                                <img class="w-100 blurry-load rounded" src="{{ easy_media_path(post.Thumbnail)|imagine_filter('small') }}" data-large="{{ easy_media_path(post.Thumbnail)|imagine_filter('thumbnail') }}">
                            {% else %}
                                <img class="w-100 blurry-load rounded" src="{{ asset('build/images/placeholder.png')|imagine_filter('small') }}" data-large="{{ asset('build/images/placeholder.png')|imagine_filter('thumbnail') }}">
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}